.orange{
   background-color: orange
}
.blue{
   background-color: blue
}
.redClass{
   background-color: red
}
.yellow{
   background-color: yellow
}
.purple{
   background-color: purple
}
h3.redClass {
   color: antiquewhite;
}