.card{
    border: 1px solid blueviolet;
}
.red{
    background-color: red
 };
 .blue{
    background-color: blue
 };
 .orange{
    background-color: orange
 };
 .blue{
    background-color: blue
 };
 .yellow{
    background-color: yellow
 };
 .purple{
    background-color: purple
 };